footer.footer
  div(class="footer__logo-box")
    picture(class="footer__logo")
      source(srcset="\
          /img/logo-green-small-1x.png 1x,\
          /img/logo-green-small-1x.png 1x\
        ", media="(max-width:37.5em)")
      img(srcset="/img/logo-green-1x.png 1x, /img/logo-green-2x.png 2x", alt="full logo", src="/img/logo-green-2x.png")
  .footer__row
    .col-1-of-2
      div(class="footer__navigation")
        ul(class="footer__list")
          li(class="footer__item")
            a(href="#", class="footer__link") Company
          li(class="footer__item")
            a(href="#", class="footer__link") Contact Us
          li(class="footer__item")
            a(href="#", class="footer__link") Carrers
          li(class="footer__item")
            a(href="#", class="footer__link") Privacy
          li(class="footer__item")
            a(href="#", class="footer__link") Terms
    .col-1-of-2
      p(class="footer__copyright")
        | Built by
        a(href="#", class="footer__link") Fatema Khalaf
        | .
        | Copyright &amp;copy; by Fatema Khalaf. You are 100% allowed to use this
        | webpage for both personal and commercial use, but NOT to claim it as
        | your own design. A credit to the original designer, Jonas
        | Schmedtmann, and developer, Fatema Kahalf, is of course highly
        | appreciated!