extends baseaccount
block dash  
  .user-view__content
    .tc
      h2.heading-secondary.ma-bt-md Manage Tours
    table#customers
      tr
        th Tour Name
        th Cover image
        th Price
        th Rating
        th Actions
      each tour in tours
        tr
          td=tour.name
          td
            img.form__user-photo(src=`/img/tours/${tour.imageCover}`, alt='User photo')
          td=tour.price
          td=tour.ratingsAverage
          td
            a(href="#") Edit
            a(href="#") Delete
     



